body {
    background-color: orange;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*header*/
.header-box{display: flex;
margin: 0px 50px 30px;}

ul{list-style: none;
display: flex;
gap: 30px;
flex: 1;
padding: 0px;}

.header-logo {margin-right: auto;}
/*header*/

/*Content-1*/
.box-1 {display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0px 50px 30px;}

.box-1-1 {display: flex;}

.img-1 {    
    width: 300px;
    height: 150px;}
/*Content-1*/

/*Content-2*/
img {
    width: 100px;
    height: 100px;}

.box-2 {display: flex;
flex-direction: column;
margin: 0px 50px 30px;
justify-content: space-evenly;
align-items: center;}

.box-2-p {display: flex;
flex: 1;}

.box-2-2 {display: flex;
gap: 20px;}
    
.box-2-2-item{display: flex;
flex-direction: column;}
/*Content-2*/

/*Content-3*/
.box-3 {display: flex; 
    flex-direction: column;
    flex: 1;
    background-color: #e5e7eb;
    margin: 0;}

.box-3-1 {
    flex: 1;
    justify-content: center;
    align-content: center;
    margin: 30px 200px 0px;}

.box-3-2 { display: flex;
    flex: 1;
    margin: 0px 200px 30px;
    margin-left: auto;
    }
/*Content-3*/

/*Content-4*/

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
}

.box-4-1 {display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0px 150px;

    padding:  10px 30px;
    background-color: #3882f6;}

.box-4-1-1 {display: flex;}




/*Content-4*/

/* Odin Project Values*/
.dark-background{background-color: #1f2937;}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
}

.button-color{background-color: #3882f6;}

.info-header-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-background {background-color: #e5e7eb;}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}